.signup-contanair{
    margin-top: 5em;
    height: 80vh;
    display: flex;
    align-items: center;
    
}
.content{
    padding: 50px 10px;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.content div{
    width: 60%;
    margin: 0 auto;
}
.content input{
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 10Px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    /* background-color: rgb(218, 131, 17); */
    /* color: rgb(133, 66, 66); */
}
.content h3{
    margin-top: 1em;
    text-align: center;
    height: 50px;
}
.content h3 a {
    text-decoration: none;
    color: #0b16bcc4;
}
.signup_btn{
    display: block;
    background-color: #1dc2d4;
    color: #ffff;
    width: 6rem;
    margin: auto;
    margin-top: .6em;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* ------------------- responsive--------- */
@media (max-width:600px) {
    .signup-contanair{
        height: 50vh;
    }
    .content{
        margin-top: 8em;
        width: 90%;
    }
    .content div{
width: 70%;
    }

}
